.env
__pycache__/
*.pyc
.pytest_cache/
data/parquet/
data/landing/
data/quarantine/
data/reports/
data/checkpoints/
!data/parquet/.gitkeep
!data/landing/.gitkeep
!data/quarantine/.gitkeep
!data/reports/.gitkeep
airflow/logs/
airflow/plugins/
.ivy2/
*.egg-info/
docs/
.vscode/
.DS_Store
